<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Ayuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Preguntas Frecuentes</h2>
  <ion-card>
    <ion-card-header>
      <ion-card-title>¿Cómo solicitar un viaje?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Para solicitar un viaje, vaya a la página principal y seleccione "Solicitar Viaje".
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>¿Cómo puedo ver mis viajes realizados?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Puede ver sus viajes realizados en la sección "Viajes Realizados" en el menú.
    </ion-card-content>
  </ion-card>
</ion-content>
